body{
  height: 6250px;

  background-color: rgb(68, 68, 68);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.scroll-watcher {
  height: 10px;
  position: fixed; 
  top: 0;
  z-index: 1000;
  width: 100%;
  padding-top: 5px;

  scale: 0 1.5;
  animation: scroll-watcher linear;
  animation-timeline: scroll();

}

@keyframes scroll-watcher {
  to { scale:  19.2 1.5; }
}

.logo{
  animation: fade-out linear;
  animation-timeline: view(50px);
}

@keyframes fade-out{
  from {scale: 1.75; opacity: 1;}
  to { scale: 0; opacity: 0.3;}
}

.heading{
  font-family: "Mulish", sans-serif;
  color: antiquewhite;
  font-optical-sizing: large;
  font-weight: bold;
  font-style: italic;
  font-size: 50px;
  width: 1200px;
  padding-bottom: 50px;

}
.text1{
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 700px;
  font-size: 30px;
  height: 110px;
  color: bisque;
}

.slide1{
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.0;
  scale: 0.70;

  animation: slide1_animation linear forwards;
  animation-timeline: scroll();
  animation-range: exit;
  
}

@keyframes slide1_animation {
  2% { opacity: 0; scale: 0.70}
  10% { opacity: 1; scale: 1}
  30% { opacity: 1; scale: 1}
  40% { opacity: 0; scale: 0}
  100% { opacity: 0;}
}

.text2{
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1000px;
  font-size: 30px;
  height: 175px;
  color: bisque;
}

.slide2{
  padding-top: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  scale: 1;  
  position: relative;

  animation: slide2_animation;
  animation-timeline: scroll();
  
}


@keyframes slide2_animation {
  30% { opacity: 0; 
        left: -600px;}
  40% { left: 0px}
        
  55% { opacity: 1; 
        left: 0px;
        scale: 1;}
  50% { left: 0px;}
  65% { opacity: 0;
          left: 500px}
}

.slide3{
  padding-top: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  scale: 1;  
}

.heading3{
  font-family: "Mulish", sans-serif;
  color: antiquewhite;
  font-optical-sizing: large;
  font-weight: bold;
  font-style: italic;
  font-size: 50px;
  width: 1200px;
  padding-bottom: 50px;
  opacity: 0;
  scale: 2.5;  
  position: relative;

  animation: heading3_animation;
  animation-timeline: scroll();
}

@keyframes heading3_animation{
  55% { opacity: 0;
        scale: 2.5}
  70% { opacity: .9;
        scale: 1}
  75% { opacity: 1; 
        scale: 1}
  100% { opacity: 1;
        scale: 2.5}

  
}

.text3{
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1000px;
  font-size: 30px;
  height: 110px;
  color: bisque;

  opacity: 0;
  scale: 3.5; 

  animation: text3_animation;
  animation-timeline: scroll();
}

@keyframes text3_animation{
  55% { opacity: 0;
        scale: 3.5}
  70% { opacity: .9;
        scale: 1}
  75% { opacity: 1;
        scale: 1;}
  100% { opacity: 1;
        scale: 3.5}

  
}

.slide4{
  padding-top: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  scale: 1;  
}

.heading4{
  font-family: "Mulish", sans-serif;
  color: antiquewhite;
  font-optical-sizing: large;
  font-weight: bold;
  font-style: italic;
  font-size: 50px;
  width: 1200px;
  padding-bottom: 50px;
  opacity: 0;
  scale: 0;  
  position: relative;

  animation: heading4_animation;
  animation-timeline: scroll();
}

@keyframes heading4_animation{
  85% { opacity: 0;
        scale: 0.5;
        left: -800px;}
  92% { left: 0px; 
        opacity: 1;
        scale: 1;}

  100% { opacity: 1;
        scale: 1;}
}

.text4{
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1000px;
  font-size: 30px;
  height: 130px;
  color: bisque;
  position: relative;

  opacity: 0;
  scale: 0; 

  animation: text4_animation;
  animation-timeline: scroll();
}

@keyframes text4_animation{
  85% { opacity: 0;
        scale: 0.5;
        left: 800px;}
  92% { left: 0px; 
        opacity: 1;
        scale: 1;}

  100% { opacity: 1;
        scale: 1;}
}



